@model dynamic

@{
    ViewBag.Title = "title";
     
}

<h2>Code Generation</h2>
<ul  >
    <li>@Html.ActionLink("Insert Nonquery Stored Procedure", "InsertNonquerySp", "CodeGen")</li>
    <li>@Html.ActionLink("Call Insert non-query function", "CallInserNonQuerySp", "CodeGen")</li>

    

</ul>